.mb-20
{
    margin-bottom: 20px !important;
}

.mt-20
{
    margin-top: 20px !important;
}

.mt-50
{
    margin-top: 50px !important;
}

.mb-50
{
    margin-bottom: 50px !important;
}

.red
{
    color:red !important;
}

.font24
{
    font-size: 24px;
}

.page
{
    p
    {
    }

    h1
    {
        display: none;
    }
}

h1
{
    font-size: 2em;
    padding: 0.5em;
    background: #eaf3ff;
    border-bottom: solid 3px #516ab6;
}

h2
{
    padding: 0.25em 0.5em;
    color: #494949;
    background: transparent;
    border-left: solid 5px #7db4e6;
}

@media screen and (max-width: 1023px) {
    .r-desktop
    {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
}